<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Admin Dashboard</title>
  </head>

  <body>
    <h1>Admin Dashboard</h1>
    <p>Manage orders and menu items here.</p>
  </body>
</html>
