<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Cart</title>
  </head>

  <body>
    <h1>Your Cart</h1>
    <p>Cart functionality coming soon!</p>
  </body>
</html>
